.features
	margin 25px 0 44px
	&__wrapper
		display flex
		flex-flow row wrap
		justify-content space-between
		+max(980px)
			justify-content space-around

.feature
	flex 1 0 100%
	max-width 300px
	width 100%
	flex-flow row wrap
	display flex
	+max(980px)
		text-align center
		max-width 320px
		margin 30px 0
	+max(719px)
		max-width 100%
	&__icon
		align-self center
		margin-right 15px
		+max(980px)
			margin 0 auto 10px
		&_gear
			width 46px
			height 46px
		&_check
			width 49px
			height 41px
		&_user
			width 42px
			height 40px
	&__title
		align-self center
		margin 0
		padding 0
		margin-left 8px
		white-space nowrap
		font-size 18px
		line-height 24px
		color #E8663C
		bebas-font()
		word-spacing 1.5px
		+max(980px)
			flex 1 1 100%
			margin-left 0
	&__text
		padding 30px 0px 10px
		display block
		font-size 12px
		line-height 18px
		color #414141
		+max(980px)
			padding 10px 0px
	&__button
		width 56px
		height 31px
		line-height 31px
		text-align center
		background #E8663C
		color #ffffff
		bebas-font()
		font-size 12px
		text-decoration none
		margin-top 7px
		+max(980px)
			margin 0 auto
		&:hover, &:focus
			text-decoration none
			background darken(#E8663C, 15%)



