.recent-works
	&__wrapper
		margin-bottom 48px
		display grid
		grid-template-columns repeat(4, 1fr)
		grid-gap 20px
		+max(850px)
			grid-template-columns repeat(2, 1fr)
		+max(500px)
			grid-template-columns repeat(1, 1fr)

.recent-work
	text-decoration none
	&__image
		display block
		height 184px
		background-size cover
		background-repeat no-repeat
		background-position center center
	&__text
		display block
		padding 12px 13px 6px
		border-right 1px solid #dbdbdb
		border-bottom 1px solid #dbdbdb
		border-left 1px solid #dbdbdb
	&__title
		color #B9B9B9
		bebas-font()
		white-space nowrap
		overflow hidden
		text-overflow ellipsis
	&__date
		display block
		font-size 11px
		color #E8663C
		bebas-font()
		word-spacing -0.5px
		line-height 11px
		padding 5px 0 9px
	&:focus
		// background red
