.recent-works
	&__wrapper
		margin-bottom 28px
		display flex
		flex-flow row wrap
		margin-left -10px
		margin-right -10px
	&__col
		flex-grow 1
		width 25%
		+max(850px)
			width 50%
		+max(500px)
			width 100%

.recent-work
	display block
	text-decoration none
	margin 0 10px
	margin-bottom 20px
	&__image
		display block
		height 184px
		background-size cover
		background-repeat no-repeat
		background-position center center
	&__text
		display block
		padding 12px 13px 6px
		border-right 1px solid #dbdbdb
		border-bottom 1px solid #dbdbdb
		border-left 1px solid #dbdbdb
	&__title
		color #B9B9B9
		bebas-font()
		white-space nowrap
		overflow hidden
		text-overflow ellipsis
	&__date
		display block
		font-size 11px
		color #E8663C
		bebas-font()
		word-spacing -0.5px
		line-height 11px
		padding 5px 0 9px
	&:focus
		// background red
