include ../header/header
include ../slider/slider
include ../features/features
include ../recent-works/recent-works
include ../footer/footer

mixin page()
	+b('body').page&attributes(attributes)
		.container
			+header()
			+slider()
			+features()
			+recent-works()
			+footer()
		block
