include ../menu/menu
include ../icon/icon

mixin header()
	+b.header&attributes(attributes)
		+b.A.logo(href="#")
			+e.SPAN.left Jet
			+e.SPAN.right ro
		+icon("dropdown", true).dropdown
		+menu()
		block
