.menu
	align-self center
	display block
	&__list
		margin 0
		padding 0
		list-style none
	&__item
		margin-left 23px
		margin-top 8px
		display inline-block
		bebas-font()
		word-spacing 2px
		+max(580px)
			user-select none
			width 100%
			margin 0
			text-align center
			padding 10px 0
	&__link
		color #b9b9b9
		text-decoration none
		&_active, &:hover, &:focus
			color #e8663c
	&_dropped
		display block !important
	+max(580px)
		padding 15px 0
		display none
		width 100%
