.footer
	color #FFF
	padding 0 10px
	background #e8663c
	display flex
	flex-flow row wrap
	justify-content space-around
	// +max(420px)
	// 	padding 0
	&__cell
		flex 1 0 auto
		max-width 300px
		width 100%
		padding 37px 22px
		+max(500px)
			padding 35px 0
		&_second
			+min(957px)
				padding-left 40px
		&_third
			+min(957px)
				padding-left 19px
	&__title
		margin 0
		padding-bottom 12px
		bebas-font()
		font-size 20px
	&__text
		margin 15px 0 15px
		padding 0
		line-height 14px
		font-size 12px
	&__link
		display inline-block
		color #FFF
		font-size 12px
		line-height 16px
		text-decoration none
		&:hover
			text-decoration underline

.twitter
	margin 16px 0 15px
	&__tweet
		margin 10px 0 15px
	&__post
		margin 0
		padding 0
		font-size 12px
		line-height 14px
	&__author
		color #F3B29D
		text-decoration none
		&hover
			text-decoration none
			color darken(#F3B29D, 5%)
	&__follow
		display block
		margin-top 22px
	&__date
		display block
		margin 8px 0
		font-size 12px
		color #F3B29D

.socials
	padding 15px 0
	&__link
		margin-right 4px
		text-decoration none
	&__icon
		margin 0px 1px
		width 29px
		height 29px

