mixin footer()
	+b.footer.stripes_full&attributes(attributes)
		+e.cell
			+e.H3.title About Jetro
			+e.P.text Lorem ipsum dolor sit amet, malorum recteque reprehendunt ea vel. Urbanitas adolescens vim te, per at tritani aperiri. Adhuc invenire convenire his ea. Id mei vitae denique, in eam commodo veritus disputando.
			+e.P.text Pro et erant delicata, eu vim essent imperdiet accommodare, dictas deseruisse ius an. Solet everti definitionem id ius, sonet oporteat cu vim.
		+e.cell_second
			+e.H3.title Twitter Widget
			+b.twitter
				+e.tweet
					+e.P.post
						+e.A.author(href="#") @pixelmater
						|  What an awesome design with great functionality :)
					+e.SPAN.date about 1 hour ago
				+e.tweet
					+e.P.post
						+e.A.author(href="#") @designdude
						|  What an awesome design with great functionality :)
					+e.SPAN.date about 2 hour ago
				+e.follow
					+e.P.post Follow #[+e.A.author(href="#") @bestpsdfreebies]
		+e.cell_third
			+e.H3.title Contact Us
			+e.P.text Lorem ipsum dolor sit amet, malorum recteque reprehendunt ea vel. Urbanitas adolescens vim te, per at tritani aperiri.
			div
				+e.A.link(href="mailto:information@jetro.com") information@jetro.com
			div
				+e.A.link(href="tel:+12223334444") 1.222.333.4444
			+b.socials
				+e.A.link(href="#")
					+icon("facebook", false).icon
				+e.A.link(href="#")
					+icon("twitter", false).icon
				+e.A.link(href="#")
					+icon("email", false).icon
				+e.A.link(href="#")
					+icon("rss", false).icon
				+e.A.link(href="#")
					+icon("vimeo", false).icon
		block
