.slider-wrapper
	overflow hidden
	position relative
	&__button
		position absolute
		cursor pointer
		top 43%
		width 36px
		margin-top -18px
		height 52px
		opacity 0.7
		z-index 10
		&:hover, &:focus
			opacity 1
		&_prev
			left 25px
		&_next
			right 25px
	&__arrow
		width 36px
		height 52px
		+max(860px)
			transform scale(0.7)
		+max(500px)
			width 0
			height 0

.slide
	color #FFF
	position relative
	&__background
		height 0
		padding-bottom 42.7%
		background-size cover
		background-repeat no-repeat
		background-position center center
	&__sign
		position absolute
		left 35px
		bottom 33px
		width 413px
		padding 10px 20px
		background rgba(#e8663c, .8)
		+max(860px)
			width auto
			left 0
			right 0
			bottom 0
		+max(640px)
			position static
			background #E8663C
	&__title
		display block
		margin 0
		padding 10px 0
		bebas-font()
	&__text
		margin 0
		padding 10px 0
		font-size 12px
		line-height 15px



.slider-thumbnails
	padding 8px 0
	display flex
	flex-flow row wrap
	justify-content space-between
	margin-left -10px
	margin-right -10px
	+max(500px)
		display none
	&__item
		flex 1 0 0px
		margin 8px 10px
		height 0
		padding-bottom 12%
		background-repeat no-repeat
		background-size cover
		cursor pointer
		opacity 0.9
		transition all 300ms
		&:hover, &:focus
			opacity 1



